i { 
	display: none !important;
}

.noprint {
	display: none !important;
}

@page {
	margin: 1cm;
	size: auto A4 landscape;
}

body {
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

.title {
	box-shadow: unset;
}

div.form {
	margin-left: 0;
	margin-right: 0;
}

form.editform {
	display: none;
}

input, select {
	border: 0;
	padding-left: 0;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

table {
	margin-top: 0;
}

td[colspan="1000"] {
	break-after: avoid;
}

#assinaturas {
	display: inline !important;
}

#assinaturas table {
	margin-top: 30px;
	border: 0;
	text-align: center;
	width: unset;
}

#assinaturas td {
	border: 0;
	padding-right: 30px;
}
